
extends layout

block content

  h1.title #{title}
  p View all items
  dl
     each item in item_list
        dt 
         a(href=item.url) #{item.name}
        dd ID : #{item._id}
     else
        dt There are no items.  

  hr
  p
             a(href='/items/createnew') New Item 

  if errors
   ul
    for error in errors
     li!= error.msg
 
